.hero{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../../assets/hero.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.hero_text{


    text-align: center;
    max-width: 800px;
    padding:20px;

}
.hero_text h1{
  
    font-size: 60px;
    font-weight:600px;

}
.hero_text p{
    max-width: 700px;
    margin: 10px auto 40px;
    line-height: 1.6;
    font-size: 20px;
}

#upload_btn{
  background-color: white;
  color:#212121 ;
  padding: 15px 28px;
  font-size:25px;
  border-radius: 30px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: 0.4s;
  letter-spacing: 1px;
  margin-top: 20px;
}
#upload_btn:hover{
    background-color:#212EA0;
   
    cursor: pointer;
    color: white;
    box-shadow: 0 0 2px 1px rgba(255, 255, 255, 0.8); /* Glow effect */

}

@media(max-width :850px){
    .hero_text h1 {
        font-size: 40px;
    }
 
}


@media(max-width :480px){

  .hero_text h1{
    font-size: 49px;
    max-width: 400px;
    margin: auto;

  }
  .hero_text p{
    font-size: 25px;
    margin:25px auto 40px
  }
  .hero{
    width: 80vh;
    height: 160vh;
  }
  #upload_btn{
    background-color: white;
    color:#212121 ;
    padding: 20px 38px;
    font-size:25px;
    border-radius: 30px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.5s;
    letter-spacing: 1px;

  }
    
}
